<!DOCTYPE HTML>
<html lang="en" id = "index">
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap Links -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



	<!--My Stuff-->
	<link rel = "stylesheet" type = "text/css" href = "./styles.css"/>

<title>DIYHacks</title>
</head>
<body>
<ul class="nav .navbar-expand">
	<li class="nav-item mr-auto">

	</li>
	<li class="nav-item">
		<a class="nav-link" href="/signup.html">account</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/newform">about us</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/submit.html">Hackathons</a>
	</li>
</ul>
<div class = "container">
	<div id = "title" class = "row justify-content-center">
		<div class = "col-md-10 text-center">
			<h1 id = "header">HACK IT<br/>YOURSELF.</h1>
		</div>
	</div>
	<div id = "buttonRow" class = "row justify-content-center">
		<div class = "col-md-8 text-center">
			<button id = "getStarted" class = "btn" formaction = "/signup">GET STARTED</button>
		</div>
	</div>
</div>
	<div id = "hackContainer" class = "container">
	<div class = "row justify-content-center">
		<% data.forEach(info => { %>
		<% switch(info.skills) {
				case "Web Development":%>
		<div class = "col-md-4 hack webDev">
			<% break;
				case "iOS Development": %>
			<div class = "col-md-4 hack iosDev">
			<% break;
				case "Android Development": %>
			<div class = "col-md-4 hack androidDev">
				<% } %>
				<div class = "row titleRow">
					<div class = "col-9 title">
						<h2 class = "titleText"><%=info.title%></h2>
					</div>
					<div class = "col-3 icon">
						<% switch(info.skills) {
							case "Web Development":%>
								<img class = "img-fluid" src = "web.png"/>
						<% break;
							case "iOS Development": %>
						<img class = "img-fluid" src = "ios.png"/>
						<% break;
							case "Android Development": %>
						<img class = "img-fluid" src = "ios.png"/>
						<% } %>
					</div>
				</div>
				<div class = "row infoRow">
					<div class = "col-8">
						<div class = "row">
							<div class = "col-12">
								<p class = "location font-weight-bold align-top"><%=info.location%></p>
							</div>
						</div>
						<div class = "row">
							<div class = "col-12">
								<p class = "hostedBy">Host: <span class = "font-weight-bold"><%=info.host%></span></p>
							</div>
						</div>
						<div class = "row">
							<div class = "col-12">
								
								<button onClick = "addUserToHack()" id = "signUpButton" class = "btn" type = "submit" formaction = "#">
									Sign Up
								</button>
							</div>
						</div>
					</div>
					<div class = "col-4 dateContainer">
						<div class = "dateEnvelope">
							<div class = "row">
								<div class = "col-12 text-center">
									<p class = "date month font-weight-bold"><%=info.month%></p>
								</div>
							</div>
							<div class = "row">
								<div class = "col-12 text-center">
									<p class = "date days font-weight-bold"><%=info.days%></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class = "row noteRow">
					<div class = "col-12">
						<p class = "note"><%=info.notes%></p>
					</div>
				</div>
			</div>
		<%})%>
	</div>
</div>
</body>
</html>
